.carouselItem {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    font-size: 1vw;
    gap: .5rem;
    margin-right: 1rem;
}

.carouselItem__img {
    border-radius: 10px;
    margin-bottom: .5rem;
    box-shadow: 0px 0px 5px black;
}

.carouselItem__txt {
    font-size: .9vw;
    text-align: center;
}